* {
    margin: 0;
}

main{
    background-color: #EBEDED;
    width: 100%;
    height: 600px;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.font{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-weight: bold;
    font-size: 25px;
}

.contenitore{
    width: 385px;
    
    position: relative;
    background-color: white;
    margin: 15px;
    padding: 15px;
    
}

.galleria{
    width: 190px;
    display: inline-block;
}

.galleria img{
    height: 180px;
    width: 180px; 
    padding: 10px;
     
}

.absolute{
    position:absolute;
    
}

.posizione1{
    top: 123px;
    right: 123px;
    scale: 35%;
}

.posizione2{
    top: 348px;
    right: -39px;
    scale: 35%;
}

.posizione3{
    top: 345px;
    right: 123px;
    scale: 35%;
}

.posizione4{
    top: 122px;
    right: -73px;
    scale: 35%;
}

p{
    margin-left: 10px;
    font-weight: bold;
}